{% load url from future %}


<section class="container">
    <nav class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">AXShype</a>
                <ul class="nav">
                    <li {% if active == 'home' %} class="active" {% endif %}><a href="{% url 'landing' %}">Home</a></li>
                    <li {% if active == 'blog' %} class="active" {% endif %}><a href="{% url 'index' %}">Explore</a></li>
                    <li {% if active == 'hot' %} class="active" {% endif %}><a href="{% url 'hot_artists' %}">Hot</a></li>
                    <li {% if active == 'about' %} class="active" {% endif %}><a href="#">About</a></li>

                    {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">Sign out</a></li>
                    {% else %}
                        <li><a href="{% url 'socialauth_begin' 'twitter' %}">Sign in</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</section>