<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Hypestarter</a>
			<ul class="nav">
				<li {% if active == 'about' %} class="active" {% endif %}><a href="#">About</a></li>
				<li {% if active == 'contact' %} class="active" {% endif %}><a href="#">Contact</a></li>
			</ul>
			<ul class="nav pull-right">
				<li {% if active == 'login' %} class="active" {% endif %}><a href="#">Log In</a></li>
			</ul>
		</div>
	</div>
</div>