<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hypestarter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/strip.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/strip-responsive.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom_styles.css" type="text/css">
    {% block css %}
    {% endblock css %}

   	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
    {% block font %}
    {% endblock font %}
    
</head>

<body>

{% block navbar %}
{% include "_navbar.html" %}
{% endblock navbar %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} container highlight">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% block content %}    
{% endblock content %}

<footer class="container footer-box">   
    <hr class="shadow-line" />         
    <nav class="links">
        <a href="#">Terms of Use</a>
        <a href="#">Support</a>
        <a href="#">Developers</a>
        <a href="#">Feedback</a>
    </nav>  
    <nav class="links">   
        <a href="#"><img src="{{ STATIC_URL }}images/twitter-icon.png" alt="twitter"></a>
        <a href="#"><img src="{{ STATIC_URL }}images/facebook-icon.png" alt="fb"></a>   
        <a href="#"><img src="{{ STATIC_URL }}images/googleplus-icon.png" alt="gplus"></a>      
    </nav>                 
    <p>&copy; <strong>Hypestarter</strong> 2013</p>           
</footer>

<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
{% block js %}
{% endblock js %}

</body>
</html>
