{% extends "base.html" %}

{% load url from future %}
{% load thumbnail %}


{% block navbar %}
{% include "_navbar.html" with active='explore' %}
{% endblock navbar %}

{% block css %}


<link href="{{ STATIC_URL }}css/explore.css" title="style" rel="stylesheet" type="text/css" />



{% endblock css %}

{% block content %}
<!-- 
<div id="loader"></div> loader image for AJAX -->

<div class="container">
			{% for artist in artists %}
	<!-- medium small small large small small -->
			{% if forloop.counter == 1 or forloop.counter == 7 or forloop.counter == 13 or forloop.counter == 19 %}
				<!-- MEDIUM HORIZONTAL BOX -->
			<div class="box">
				<a href="{% url 'artists.views.show' artist.id %}" class="lightbox" rel="section">
				    <div class="tile large live" data-stops="0,25%,50%,75%,100%" data-speed="3000" data-delay="0" data-direction="horizontal" data-stack="true">
				    	<div class="live-front">
				        	{% thumbnail artist.image '320x320' crop='center' as img %}
	    						<img class="live-img" src="{{ img.url }}"/>
	    					{% endthumbnail %}
				        </div>
				        <div class="live-back">
				        	{% thumbnail artist.image_alt '320x320' crop='center' as img_alt %}
	    						<img class="live-img" src="{{ img_alt.url }}"/>
	    					{% endthumbnail %}
				        </div>
			
				        <span class="tile-cat lime">{{ artist.name }}</span>
				    </div>
				</a>

			{% elif forloop.counter == 4 or forloop.counter == 10 or forloop.counter == 16 or forloop.counter == 22 %}
				<!-- MEDIUM HORIZONTAL BOX -->

				<a href="{% url 'artists.views.show' artist.id %}" class="lightbox" rel="section">
				    <div class="tile medium live" data-stops="0,75%,100%" data-speed="750" data-delay="1500">
				    	<div class="live-front">
				        	{% thumbnail artist.image '320x180' crop='center' as img %}
	    						<img class="live-img" src="{{ img.url }}"/>
	    					{% endthumbnail %}
				        </div>
				        <div class="live-back">
				        	{% thumbnail artist.image_alt '320x180' crop='center' as img_alt %}
	    						<img class="live-img" src="{{ img_alt.url }}"/>
	    					{% endthumbnail %}
				        </div>
			
				        <span class="tile-cat lime">{{ artist.name }}</span>
				    </div>
				</a>

			{% elif forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 5 or forloop.counter == 8 or forloop.counter == 9 or forloop.counter == 11 %}

				<!-- SMALL BOX -->
				
					<a href="{% url 'artists.views.show' artist.id %}"  rel="section">
	    				<div class="tile small">
	    				<div class="live-front">
				        	{% thumbnail artist.image '320x180' crop='center' as img %}
	    						<img class="live-img" src="{{ img.url }}"/>
	    					{% endthumbnail %}
				        </div>
				        <div class="live-back">
				        	{% thumbnail artist.image_alt '320x180' crop='center' as img_alt %}
	    						<img class="live-img" src="{{ img_alt.url }}"/>
	    					{% endthumbnail %}
				        </div>
	    				</div>
					</a> 

			{% elif forloop.counter == 6 or forloop.counter == 12 %}		   

				<a href="{% url 'artists.views.show' artist.id %}"  rel="section">
	    			<div class="tile small">
	    				<!-- hello -->
	    				<div class="live-front">
				        	{% thumbnail artist.image '320x180' crop='center' as img %}
	    						<img class="live-img" src="{{ img.url }}"/>
	    					{% endthumbnail %}
				        </div>
				        <div class="live-back">
				        	{% thumbnail artist.image_alt '320x180' crop='center' as img_alt %}
	    						<img class="live-img" src="{{ img_alt.url }}"/>
	    					{% endthumbnail %}
				        </div>
	    			</div>
				</a> 
			</div>
			


			{% endif %}

			
			{% endfor %}
    


</div>





{% endblock content %}


{% block js %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/metro/jquery.masonry.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/metro/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/metro/MetroJs.lt.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/metro/jquery.fancybox-1.3.4.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/metro/jquery.flexslider-min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/metro/hoverintent.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/metro/jquery.jplayer.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/metro/organictabs.jquery.js" type="text/javascript" charset="utf-8"></script>

<script src="{{ STATIC_URL }}js/metro/javascript.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/metro/mediaplayer.js" type="text/javascript"></script>


	<script src="{{ STATIC_URL }}js/jquery.masonry.js"></script>
	<script src="{{ STATIC_URL }}js/explore.js"></script>
{% endblock js %}