{% extends "base.html" %}

{% load url from future %}


{% block navbar %}
{% include "_navbar.html" with active='explore' %}
{% endblock navbar %}

{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/explore.css" type="text/css">
{% endblock css %}


{% block content %}

<br>
<br>

<section class="container">
    <div class="row">
		<div id="container">
			{% for artist in artists %}
				<div class="explore_artist">
					<strong>
						<a aref="{% url artists.views.show artist.id %}"/>
						<img src="{{ artist.image.url }}">
						<span class="tile-date redtxt">{{ artist.name }} </span>
					</strong>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock content %}


{% block js %}
	<script src="{{ STATIC_URL }}js/jquery.masonry.js"></script>
	<script src="{{ STATIC_URL }}js/explore.js"></script>
{% endblock js %}