
.explore_artist
{
	width: 220px;
	margin: 0px;
	float: left;
	box-shadow: 0px 0px 20px black;
	opacity:0.75;
	text-align: center;
		overflow-y: hidden;
}

.explore_artist:hover
{
	opacity: 1;
	box-shadow: 0px 0px 20px black;
	
}

.explore_artistname
{
	
}

.container{
	width: 100%;

}