@charset "utf-8";

/*----------------------------------------------------------------------------
Global
----------------------------------------------------------------------------*/
.header{
    height:45px;
    width:100%;
    overflow-x: hidden;

}

.header__inner{
    border-top:1px solid #000;
    background: transparent url(images/header-bar-bkg-black.png) repeat-x 0 0;
    z-index:1000;
    top:0;

    width:100%;
}

.header__left{
    margin-left:30px;
    height: 100%;
}

.fixed,.l-fixed {
    position: fixed;

}

.nav_container{
    width:100%;
    height: 44px;
    overflow-x:scroll;
    white-space:nowrap;
    overflow-y: hidden;
    vertical-align: top;
}

.left {
    float:left; 
}

.right {
    float:right; 
}


/*
.header__navMenu>a, .header__navMenu>a:link, .header__navMenu>a:visited{
    color: #fff;
    font: 600 14px/18px 'Open Sans', sans-serif;
    text-shadow: 0 0px 0 #ffffff;
}
*/
.header__navMenu>li>a{
    display: block;
    color: #fff;
    font: 600 14px/18px 'Open Sans', sans-serif;
    text-shadow: 0 0px 0 #ffffff;
}

.header__navMenu>li {
    float: left;
    list-style: none;
}

.header ul{
    list-style: none;
}



/*----------------------------------------------------------------------------
Logo
----------------------------------------------------------------------------*/

h1.header__logo{
    margin-top:-1px;
    background:#0098ff;
    height: 100%;
    background:-webkit-linear-gradient(#0098ff,#007acc);
    background:-moz-linear-gradient(#0098ff,#007acc);
    background:-o-linear-gradient(#0098ff,#007acc);
    background:linear-gradient(#0098ff,#007acc);
    box-shadow:-1px 0 0 rgba(255,255,255,.08)
    line-height: 0px;
    font-size: 0px;
}


.header__logo > a:hover,.header__logo >a:focus{
    
    outline:0
}


/*----------------------------------------------------------------------------
Home
----------------------------------------------------------------------------*/
.home{
    list-style: none;
    vertical-align: center;
    padding: 13px 16px 10px;
}


/*----------------------------------------------------------------------------
Search
----------------------------------------------------------------------------*/
.header__navSearch>li {
    height: 100%;
    padding-top: 8px;
    padding-left: 10px;
    border-left: 1px solid rgba(0,0,0,.5);
    height: 37px;
    list-style: none;
}

ul {
    margin: 0 0 10px 0px;
}




/*----------------------------------------------------------------------------
Explore
----------------------------------------------------------------------------*/

.explore, .hot, .about, .signin{
    list-style: none;
    vertical-align: center;
    padding: 13px 16px 10px;
    border-left: 1px solid rgba(0,0,0,.5);
}


/*----------------------------------------------------------------------------
Profile Button
----------------------------------------------------------------------------*/

.header__profileButton {
    padding: 12px 6px 10px;
    background: transparent url(https://a2.sndcdn.com/assets/images/header/profile/arrow-c2d6ff85.png) 0 10px no-repeat;
    width: 36px;
}

.header__userMenuProfile {
text-indent: 0;
}


/*----------------------------------------------------------------------------
music
----------------------------------------------------------------------------*/

.music{
    list-style: none;
    vertical-align: center;
    padding: 4px 5px 10px;
    border-left: 1px solid rgba(0,0,0,.5);
}

/*----------------------------------------------------------------------------
Volume
----------------------------------------------------------------------------*/

.header__volume{


}

.volume {
position: relative;
display: block;
width: 44px;
height: 45px;
cursor: pointer;
}

.volume__wrapper {
position: absolute;
top: 0;
left: -1px;
z-index: 1;
width: 46px;
height: 45px;
-webkit-transition: width 100ms linear;
-moz-transition: width 100ms linear;
-o-transition: width 100ms linear;
transition: width 100ms linear;
}

.volume__togglemute {
top: 14px;
left: 10px;
width: 10px;
height: 20px;
background-position: 0 0;
}
.volume__button {
position: absolute;
display: block;
border: 0;
background: url(https://a2.sndcdn.com/assets/images/header/volume-icons-11373996.png) 0 0 no-repeat;
outline: 0;
}
.sc-ir {
border: 0;
font: 0/0 a;
text-shadow: none;
color: transparent;
background-color: transparent;
}


.volume__slider {
display: block;
top: -10px;
left: 25px;
width: 63px;
opacity: 0;
-webkit-transition: opacity 100ms linear;
-moz-transition: opacity 100ms linear;
-o-transition: opacity 100ms linear;
transition: opacity 100ms linear;
}



.volume[data-level='8'] .volume__indicator, .volume[data-level='9'] .volume__indicator, .volume[data-level='10'] .volume__indicator {
background-position: 0 -20px;
}
.volume__indicator {
width: 12px;
height: 20px;
top: 14px;
right: 10px;
background-position: 0 -20px;
}
.volume__button {
position: absolute;
display: block;
border: 0;
background: url(https://a2.sndcdn.com/assets/images/header/volume-icons-11373996.png) 0 0 no-repeat;
outline: 0;
}




/*----------------------------------------------------------------------------
Navigation
----------------------------------------------------------------------------*/

nav > select{
    display:none;
    width:310px;
    background-color:#e5e5e5;
    color:#404040;
    padding:5px 0 0 5px;
    margin-left:auto;
    margin-right:auto;
}
nav > select:hover{
    background-color:#f4f4f4;
}
nav > select > option{
    padding:5px;
}
















