@charset "utf-8";
/*-----------------------------------------------------------------------------
Matrix Responsive HTML Template - Core CSS
-------------------------------------------------------------------------------
Version : 1.2.3
Date : 21 / 02 / 2013
Author : Billy Foo
-----------------------------------------------------------------------------*/

.twitter-timeline {
   display: block;
   margin: 0 auto;
   float:none;

}
#perks {

   padding: 0px 0px 0px 0px;
   width: 100%;
   font-size: 14px;
   background: #fff;
   float: left;
   white-space: normal;
}

#perks ul {
   display: block;
   list-style: none;
   width: 100%;
   padding: 5px 5px;
   margin: 0px 0px 10px 0px;
   line-height: 2px;
}

#perks img {
   float: left;
   margin: 0 0px 0 0;
}

#perks h2{
  font-size: 12px;
   position: absolute; 
   top: -27px; 
   left: 18px; 
  color: #FFF;
}

#perks h3{
  font-size: 12px;
   position: absolute; 
   top: 0px; 
   left: 18px; 
  color: #000;
  margin-right: 25px;
}

#perks li {
   clear: both;
   margin: 5px 10px 5px 0;
   min-height: 55px;
   height: 100%;
   position: relative;
   padding-right: 10px;
   border-bottom: 1px solid #CCC;
   vertical-align: center;
}

#perks li:nth-last-child(1) {
   border: none;
   height: 50px;
}

#perks a.timestamp {
    background:none;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    color: #bbb;
}

#perks .perk_text {
   margin-left: 55px;
   width: 120%;
}

#perks .perk_text a {
   color: #666;
   text-decoration: none;
}
