{% extends "base.html" %}

{% load url from future %}


{% block navbar %}
{% include "_navbar.html" with active='home' %}
{% endblock navbar %}


{% block content %}

<section class="container">
    <div class="row">
        <header class="highlight span12">
            <h2>Hype up and discover new music artists with <strong>Hypestarter</strong></h2>               
            <img id="feature-screenshot" src="{{ STATIC_URL }}images/highlight1.jpg">           
            <p><a href="{% url 'socialauth_begin' 'twitter' %}" class="big-btn">Sign In &nbsp; <i class="icon-twitter"></i></a></p>
            <p>You only need a <a href="http://www.twitter.com"><strong>Twitter</strong></a> account.</p>     
        </header>        
    </div>
</section>

{% endblock content %}