{% extends "base.html" %}

{% load url from future %}
{% load thumbnail %}

{% block navbar %}
{% include "_navbar.html" with active='hot' %}
{% endblock navbar %}

{% block css %}
<!--
    <link rel="stylesheet" href="{{ STATIC_URL }}css/twitter.css" type="text/css"> -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css"> 
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blog.css" type="text/css">
	


{% endblock css %}

{% block content %}

<br>
<section class="container">
	<img src="{{ STATIC_URL }}images/fullmap.jpg">

</section>
<br>


{% for artist in artists %}
<section class="container">	
	<div class="article-date redtxt">
		<span class="date">{{ forloop.counter }}</span>    
	</div>
	<div id="post-meta" class="widget">

		<div class="tile-sidebar">
			{% thumbnail artist.image '130x130' crop='center' as img %}
				<img src='{{ img.url }}'>
			{% endthumbnail %}
				<strong>
					<span>
					<a class="explore_artistname">{{ artist.name }}</a>
					</span>
				</strong>
			</img>
		</div>

		 {{ artist.song_1|safe }}
		<div class="tile-sidebar" style="background:#3cf">

            <div class="meta3">
            	<img src="{{ STATIC_URL }}images/sidebar-twtr.png" alt="Twitter" />
            	<div class="count"></div>
            	<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a>
            	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div><!-- end .meta3 -->
        </div><!-- end .tile-sidebar -->		            
	</div>
</section>
	
{% endfor %}

{% endblock content %}



{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.masonry.js"></script>
    <script src="{{ STATIC_URL }}js/explore.js"></script>
    <script src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
    function placeTweet() {
        getTwitters('tweet', { 
            id: 'colbycornish',    // replace this with your twitter username
            count: 4,                // how many tweets do you want to display?
            enableLinks: true,       // true or false, are links clickable?
            ignoreReplies: true,     // true or false, are replies hidden in the feed?

            template: '<a href="http://twitter.com/%user_screen_name%"><img src="%user_profile_image_url%"></a> <div class="tweet_text">%text%</div> <a class="timestamp" href="http://twitter.com/%user_screen_name%/statuses/%id_str%/">%time%</a>'
                //http://twitter.com/%user_screen_name%

            
        });
    };
    $(document).ready(function() {
        placeTweet();
    });

    // If you are placing your twitter feed in the Custom HTML area,
    // remove these three following lines:
    $(document).bind("projectLoadComplete", function(e, pid){
        placeTweet();          
    });
    </script>


    <script src="{{ STATIC_URL }}js/scripts/jquery.masonry.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/scripts/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/scripts/MetroJs.lt.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/scripts/jquery.fancybox-1.3.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/scripts/jquery.flexslider-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/scripts/hoverintent.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/scripts/jquery.jplayer.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/scripts/organictabs.jquery.js" type="text/javascript" charset="utf-8"></script>
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>

    <script src="{{ STATIC_URL }}js/scripts/javascript.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/scripts/mediaplayer.js" type="text/javascript"></script>

{% endblock js %}

